<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel=“stylesheet” type=“text/css” href=“css/style.css” />

    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            background-color: black;

        }
        nav{
            background: #1EBF5E;
            padding: 20px 10px;

        }
        nav ul{
            max-width: 960px;
            margin: 0 auto;
            padding: 0;

        }
        nav li{
            list-style-type: none;
            display: inline-block;
            margin: 0 10px 0 0;

        }
        nav a{
            color: #fff;
            font-size: 18px;
            background: rgba(255, 255, 255, 0.2);
            text-decoration: none;
            padding: 10px;
            display: block;
        }
        main, header{
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
        }
        h1{
            text-align: center;
            vertical-align: middle;
            margin-top: 200px;
            font-size: 75px;
            color: white;
        }
        h2{
            text-align: center;
            vertical-align: middle;
            font-size: 38px;
            color: #D6FF00;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li>Passport JS with Google Authentification</li>
            <% if(user){ %>
            <li><a href="/auth/logout">Logout</a></li>
            <% } else { %>
            <li><a href="/auth/login">Login</a></li>
            <% } %>
            <li><a href="/">Home</a></li>
          </ul>
    </nav>
    <h1>Passport JS</h1>
    <h2>Strategy Google</h2>

</body>
</html>