<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authentification</title>

    <style>
    body{
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        background-color: black;

    }
    nav{
        background: #1EBF5E;
        padding: 20px 10px;

    }
    nav ul{
        max-width: 960px;
        margin: 0 auto;
        padding: 0;

    }
    nav li{
        list-style-type: none;
        display: inline-block;
        margin: 0 10px 0 0;

    }
      nav a{
        color: #fff;
        font-size: 18px;
        background: rgba(255, 255, 255, 0.2);
        text-decoration: none;
        padding: 10px;
        display: block;
      }
      main, header{
        max-width: 960px;
        text-align: center;
        margin: 30px auto;
        padding: 0 10px;
        color: #333;
      }

      .google-btn{
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding: 15px;
        background: #ff5353;
        border-radius: 10px;
      }
      h1{
            text-align: center;
            vertical-align: middle;
            margin-top: 255px;
            font-size: 40px;
            color: white;
        }
    </style>
</head>
<body>
    <body>
      <nav>
        <ul>
            <li>Passport JS with Google Authentification</li>
            <% if(user){ %>
            <li><a href="/auth/logout">Logout</a></li>
            <% } else { %>
            <li><a href="/auth/login">Login</a></li>
            <% } %>
            <li><a href="/">Home</a></li>
          </ul>
      </nav>
      <header>
        <h1>Login avec votre compte Google</h1>
      </header>
      <main>
        <a class="google-btn" href="/auth/google">Sign in with google</a>
      </main>
        <!-- <form action="/" method="post">
          <div>
            <label>Username:</label>
            <input type="text" name="username" />
            <br/>
          </div>
          <div>
            <label>Password:</label>
            <input type="password" name="password" />
          </div>
          <div>
            <input type="submit" value="Submit" />
          </div>
        </form> -->
      </body>
</body>
</html>