<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            background-color: black;

        }
        nav{
            background: #1EBF5E;
            padding: 20px 10px;

        }
        nav ul{
            max-width: 960px;
            margin: 0 auto;
            padding: 0;

        }
        nav li{
            list-style-type: none;
            display: inline-block;
            margin: 0 10px 0 0;

        }
        nav a{
            color: #fff;
            font-size: 18px;
            background: rgba(255, 255, 255, 0.2);
            text-decoration: none;
            padding: 10px;
            display: block;
        }
        main, header{
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
            text-align: center;
        }
        h1{
            text-align: center;
            color: white;
            font-size: 60px;
            margin-top: 180px;
        }
        img{
            border-radius: 50%;
        }

    </style>
</head>
<body>
    <nav>
        <ul>
            <li>Passport JS with Google Authentification</li>
            <% if(user){ %>
            <li><a href="/auth/logout">Logout</a></li>
            <% } else { %>
            <li><a href="/auth/login">Login</a></li>
            <% } %>
            <li><a href="/">Home</a></li>
          </ul>
    </nav>
    <header>
        <h1>Bienvenue sur votre profil, <%= user.username %></h1>
    </header>
    <main>
        <img src="<%= user.thumbnail %>" width="160" height="160" alt="thumbnail">
    </main>
</body>
</html>